<div class="row">
  <div class = "col-sm-6 col-sm-offset-3">
    <%= form_for('system', url: @url, method: :patch ) do |f| %>
      <% relevant_attributes.each do |attribute| %>
        <%= form_attribute_to_field('system', attribute, @system)%>  
      <% end %>
      <div class="form-group"><%=f.submit 'Save', class:'btn btn-primary form-control' %></div>
    <% end %>
    <%= render 'reset_token_form' %>
    <div class="form-group"><%= link_to 'Back', systems_path, class: "btn btn-info form-control" %></div>
  </div>
</div>
