<%= form_for('system', url:'/systems') do |f| %>

  <% system_class.identifying_attributes.each_with_index do |attribute, i| %>
    <div class="form-group">
      <%= f.label attribute.to_sym %>
      <%= f.text_field attribute.to_sym, class:'form-control', required: (true if i == 1) %>  
    </div>
  <% end %>
  <%=f.submit 'Save', class:'btn btn-primary form-control' %>
  <%= link_to 'Back', systems_path, class: "btn btn-info form-control" %>
<% end %>
