<p id="notice"><%= notice %></p>

<h1>Listing Systems</h1>

<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact name</th>
      <th>Contact email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @systems[0...-1].each do |system| %>
      <tr>
        <td><%= link_to system.name, system_path(system.id) %></td>
        <td><%= system.contact_name %></td>
        <td><%= system.contact_email %></td>
        <td><%= if can_edit?(system) then link_to('Edit', edit_system_path(system.id)) end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-group"><%= paginate_collection @systems %></div>

<br>
<% if root_user? %>
  <%= link_to 'New System', new_system_path, class: "btn btn-info" %>
<% end %>
