<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @system.name %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @system.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @system.contact_email %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @system.permalink %>
</p>

<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
